<div class="page-header">
    <h1>Portfolio History</h1>
</div>
<div class="row">
    <div class="tableContainer panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="btn-group btn-group-sm btn-group-justified">
                        <span class="btn btn-default" id="clearFilters">Clear Filters</span>
                        <span class="btn btn-primary" id="getResults" value="all">Get Results</span>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Start</span>
                        <input type="date" class="form-control" id="start" placeholder="Start">
                    </div>
                </div>
                <div class="col-sm-3 input-group input-group-sm">
                    <span class="input-group-addon">End</span>
                    <input type="date" class="form-control" id="end" placeholder="End">
                </div>
                <div class="col-sm-3 input-group input-group-sm">
                    <span class="input-group-addon">Portfolio ID</span>
                    <input type="text" class="form-control" id="portfolioId" placeholder="Enter ID...">
                </div>
            </div>           
        </div>
        <table id="results_table" class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Portfolio</th>
                    <th>Leg 1</th>
                    <th>Leg 1 Settle</th>
                    <th>Leg 2</th>
                    <th>Leg 2 Settle</th>
                    <th>Product 1 Flux</th>
                    <th>Product 2 Flux</th>
                    <th>Spread Flux</th>
                    <th>Flux Extension</th>
                    <th>Margin Requirement</th>
                    <th>Margin Coverage</th>
                    <th>Settlement Date</th>
                </tr>
            </thead>
            <tbody id="results-body">
                <tr>
                    <td colspan="12">
                        Use the buttons above to see previous settlement data.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

