body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.tableContainer table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.tableContainer {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #999999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tableContainer table td,
.tableContainer table th {
    padding: 3px 10px;
}
.tableContainer table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A7A5A8), color-stop(1, #7D7D7D));
    background: -moz-linear-gradient( center top, #A7A5A8 5%, #7D7D7D 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#A7A5A8', endColorstr='#7D7D7D');
    background-color: #A7A5A8;
    color: #FCFCFC;
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}
.tableContainer table thead th:first-child {
    border: none;
}
.tableContainer table tbody td {
    color: #575757;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}
.tableContainer table tbody tr:nth-child(even) {
    background: #D9D9D9;
    color: #575757;
}
.tableContainer table tbody td:first-child {
    border-left: none;
}
.tableContainer table tbody tr:last-child td {
    border-bottom: none;
}