<div class="jumbotron">
    <h1>Grain Exchange</h1>
        <h2>Minneapolis Grain Exchange Margin Tracker</h2>
        <p>Use the links above to enter settlement values or view past values.</p>
</div>

