<div class="jumbotron">
    <h1>Grain Exchange</h1>
    <h2>Minneapolis Grain Exchange Margin Tracker</h2>
    <p>@Html.ActionLink("Enter Settlements", "Index", "Spread", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Welcome to the MGEX settlement tracking system.</h3>
            <p>In get started, click the button above to be taken to the settlement page.  </br>
                Here you can enter the contract settlement data to be stored and calculated.</p>
            <p>Want to view settlement data from a previous date?  Click the results link above and view results by date range or by contract ID.</p>
        </div>
    </div>
</div>

